@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">App de cadastro de filmes</h1>
    <p>Meu Aprendizado: <a href="https://github.com/xX-Mill3r-Xx/CursoCSharp_GabrielArtigas">Curso: C# completo e profissional - Gabriel Artigas</a>.</p>
</div>
